body {
  background-color: #fcf8ec;
}

hr {
  border-color: grey;
  border-style: dotted none none;
  border-top-width: 8px;
  width: 10%;
  background-color: rgba(0,0,0,0);
}

h1,h3 {
  color: #456268;
}
